<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="WarpPoCContext"
         connectionString="
         Data Source=(LocalDb)\v11.0;
         AttachDbFilename=|DataDirectory|\Warp.Testing.Acceptance.mdf;
         Initial Catalog=Warp.Testing.Acceptance;
         Integrated Security=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>