<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings>
    <add name="WarpPoCLocalContext"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=WarpPoC;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WarpPoC.mdf"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="Warp.Data.Initialization.InitializationContext, Warp.Data">
        <databaseInitializer type="Warp.Data.Initialization.LocalDebugDbInitializer, Warp.Data" xdt:Transform="Add" />
      </context>
    </contexts>
  </entityFramework>-->
</configuration>