@model IEnumerable<ViewClientViewModel>
<table>
    <thead>
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Account manager</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Code</td>
            <td>@Html.ActionLink(client.Name, MVC.Client.View(client.Id))</td>
            <td>@client.AccountManager.Forename @client.AccountManager.Surname</td>
        </tr>
    }
    </tbody>
</table>