@model IEnumerable<ClientViewModel>
<table>
    <thead>
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Account manager</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Code</td>
            <td>@Html.ActionLink(client.Name, "View", new { clientId = client.Id })</td>
            <td>@client.AccountManager</td>
        </tr>
    }
    </tbody>
</table>