@model ClientModel
<div>Name: @Html.DisplayFor(m => Model.Name)</div>
<div>Code: @Html.DisplayFor(m => Model.Code)</div>
<div>Status: @Html.DisplayFor(m => m.Status)</div>
<div>Account Manager: @Html.DisplayFor(m => Model.AccountManager)</div>